body {
    background-image: url("shoes.jpeg");
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(238, 6, 6);
}


span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: darkred;
}


.myclass{
    font-size: xx-large;
    color: lime;
    font-weight: bolder;
}


#myID{
    font-size: larger;
    color: blueviolet;
    font-weight: bold;
}